*{
  font-family: Arial;
}

.flex-box{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#result-box{
  width: 100%;
  height: 35px;
  text-align: right;
  margin-bottom: 15px;
  font-size: 25px;
}


.grid-box{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 4px;
  column-gap: 4px;
}

.bold{
  font-weight: bold;
}

.grey, .orange, .white{
  font-size: 1.5em;
  border-radius: 4px;
  padding: 15px 10px 15px 10px;
  border: 1px solid #ccc;
}
.grey:hover, .orange:hover, .white:hover{
  cursor: pointer;
  border: 1px solid #9f9c9c;
}


.grey:focus, .orange:focus, .white:focus{
  outline: 1px solid #000;
}

.grey{
  background-color: #ddd;
  color: #444444;
}

.orange{
  color: black;
  background-color: rgb(254, 202, 14);
}

.white{
  color: black;
  background-color: white;
}

.outro-text-area{
  display: flex;
  direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.outro-text{
  font-size: 15px;
  text-decoration: underline;
  color: blue;
  font-style: italic;
}

.outro-text:hover{
  cursor: pointer;
}

.large-flex-box{
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 50px;
}

.grey-box{
  display: inline-block;
  background-color: #f0f0f0;
  padding: 20px 20px 20px 20px ;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.247);
  margin-left: 100px;
}

.calculator-desc{
  width: 580px;
  margin-right: 100px;
}

p{
  line-height: 22px;
}

h2{
  margin: 0;
}

li{
  margin-bottom: 5px;
}

.underline-blue{
  text-decoration: underline;
  color: blue;
}

.underline-blue:hover{
  cursor: pointer;
}

body{
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.white-area{
  background-color: white;
  margin-top: 90px;
}

